  .wrapschedule {
    background-color: white;
    position: relative;
    display: block;
    height: fit-content;
    width: 700px;
    margin: 10px auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  }
  
  .closeicon {
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
  
  
  .headbar {
    width: calc(100% - 15px);
      height: 60px;
      color: #1C1D21;
      background-color: var(--app-accent-color);
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 15px;
        font-size: large;
  }
  
  .headerschedule {
    position: relative;
    transition: all 0.8s ease-in-out;
    transition: all 0.8s ease;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes rotate {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
  }
  
  .contentschedule {
    height: calc(100% - 210px);
    background-color: var(--app-bg-color);
    position: relative;
    overflow: hidden;
    transition: all 0.8s ease;
  }
  
  .contentschedule > section {
    position: relative;
    width: 300%;
    height: 100%;
  }
  
  .wrapschedule[data-pos="0"] .contentschedule > section { transform: translateX(0) }
  .wrapschedule[data-pos="1"] .contentschedule > section { transform: translateX(-365px) }
  .wrapschedule[data-pos="2"] .contentschedule > section { transform: translateX(-730px) }
  
  .contentschedule > section > div { opacity: 0; }
  .wrapschedule[data-pos="0"] .contentschedule > section > div:nth-child(1) { opacity: 1; transition: opacity .8s ease; }
  .wrapschedule[data-pos="1"] .contentschedule > section > div:nth-child(2) { opacity: 1; transition: opacity .8s ease; }
  .wrapschedule[data-pos="2"] .contentschedule > section > div:nth-child(3) { opacity: 1; transition: opacity .8s ease; }
  
  .wrapschedule[data-pos="0"] .btnBack { display: none; }
  .wrapschedule[data-pos="0"] .headerschedule .bg { opacity: 1 }
  .wrapschedule[data-pos="0"] .headerschedule .map { opacity: 0 }
  
  .wrapschedule[data-pos="0"] .headerschedule { 
    height: fit-content;
    display: flex;
    align-items: center;
  }
  
  .wrapschedule[data-pos="0"] .contentschedule {
    height: calc(100% - 200px);
    transition: all 0.8s ease;
  }
  
  .wrapschedule[data-pos="1"] .contentschedule .list article .img,
  .wrapschedule[data-pos="1"] .contentschedule .list article .info { 
    opacity: 1;
    transform: translateX(0);
  }
  
  .wrapschedule[data-pos="2"] .headerschedule { height: 0px }
  .wrapschedule[data-pos="2"] .contentschedule { height: calc(100% - 80px); }
  
  .formschedule, .list, .ticket {
    float: left;
    width: 33.33333%;
    height: fit-content;
    padding: 0;
    margin: 0;
    color: #1C1D21;
    position: relative;
  }
  
  .controlschedule {
    position: relative;
    top: 0;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 5px;
    background: white;
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
    transition: all .4s ease;
  }
  
  .controlschedule:last-child {
    height: fit-content;
    border-bottom: none;
    padding: 0;
  }
  
  .controlschedule-head > * { float: left;  }
  
  .controlschedule-head > i,
  .controlschedule > i {
    font-size: 1.5em;
    margin-left: 15px;
  }
  
  .controlschedule > .controlschedule-item {
    margin-left: 20px;
  }
  
  .controlschedule h6 { 
    margin: 5px 0;
    font-weight: 400;
    color: #1C1D21;
  }
  
  .controlschedule.open:nth-child(2) { top: -72px; }
  .controlschedule.open:nth-child(3) { top: -144px; }
  
  .controlschedule.open {
    height: 100%;
    transition: all .4s ease;
  }
  
  .controlschedule .controlschedule-head { 
    display: flex; 
    align-items: center;
    margin-top: 5px; 
    cursor: pointer;
  }
  
  .controlschedule .controlschedule-body { 
    height: calc(100% - 72px);
    margin-top: 20px;
    
  }
  
  .controlschedule.open .controlschedule-body { 
    margin-top: 8px; 
  }
  
  .controlschedule.dateinput,
  .controlschedule.select { display: block; }
  
  .controlschedule .close {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
  }
  .controlschedule.open .close {
    display: block;
    cursor: pointer;
  }

  @import url("https://fonts.googleapis.com/css?family=Montserrat");

  .controlschedule > button {
    width: 100%;
    transform: translate(0%, 0%);
    color: green;
    text-decoration: none;
    font-size: 2em;
    font-family: Montserrat;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border: 2px solid green;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .controlschedule > button::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
  }
  .controlschedule > button::after {
    content: "";
    background-image: url("https://cdn2.iconfinder.com/data/icons/public-services-filledoutline/64/TAXI-cab-transportation-automobile-car-vehicle-64.png");
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .controlschedule > button:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
    background-color: rgba(255,255,255, .2);
  }
  .controlschedule > button:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .controlschedule > button:hover::after {
    right: 0;
    transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }