
  .wrapjoin {
    background-color: white;
    position: relative;
    display: block;
    height: fit-content;
    width: 365px;
    margin: 10px auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  }
  
  .closeicon {
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
  
  
  .headbar {
    width: calc(100% - 15px);
      height: 60px;
      color: #1C1D21;
      background-color: var(--app-accent-color);
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 15px;
        font-size: large;
  }
  
  .headbar .btnBack { 
    margin-right: 15px;
    cursor: pointer; 
  }
  
  .headerjoin {
    position: relative;
    transition: all 0.8s ease-in-out;
    transition: all 0.8s ease;
    align-items: center;
    justify-content: center;
  }
  
  div.rotate span { animation: rotate .6s linear }
  div.rotate span:nth-child(2) { animation-delay: .1s }
  div.rotate span:nth-child(3) { animation-delay: .3s }
  
  @keyframes rotate {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
  }
  
  .contentjoin {
    height: fit-content;
    background-color: var(--app-bg-color);
    position: relative;
    overflow: hidden;
    transition: all 0.8s ease;
  }
  
  .contentjoin > section {
    position: relative;
    width: 300%;
    height: fit-content;
  }
  
  .wrapjoin[data-pos="0"] .contentjoin > section { transform: translateX(0) }
  .wrapjoin[data-pos="1"] .contentjoin > section { transform: translateX(-365px) }
  .wrapjoin[data-pos="2"] .contentjoin > section { transform: translateX(-730px) }
  
  .contentjoin > section > div { opacity: 0; }
  .wrapjoin[data-pos="0"] .contentjoin > section > div:nth-child(1) { opacity: 1; transition: opacity .8s ease; }
  .wrapjoin[data-pos="1"] .contentjoin > section > div:nth-child(2) { opacity: 1; transition: opacity .8s ease; }
  .wrapjoin[data-pos="2"] .contentjoin > section > div:nth-child(3) { opacity: 1; transition: opacity .8s ease; }
  
  .wrapjoin[data-pos="0"] .btnBack { display: none; }
  
  .wrapjoin[data-pos="0"] .headerjoin { 
    height: fit-content;
    display: flex;
    align-items: center;
  }
  
  .wrapjoin[data-pos="0"] .contentjoin {
    height: fit-content;
    transition: all 0.8s ease;
  }
  
  .wrapjoin[data-pos="1"] .contentjoin .list article .img,
  .wrapjoin[data-pos="1"] .contentjoin .list article .info { 
    opacity: 1;
    transform: translateX(0);
  }
  
  .wrapjoin[data-pos="2"] .headerjoin { height: 0px }
  .wrapjoin[data-pos="2"] .contentjoin { height: calc(100% - 80px); }
  
  .formjoin, .list, .ticket {
    float: left;
    width: 33.33333%;
    height: fit-content;
    padding: 0;
    margin: 0;
    color: #1C1D21;
    position: relative;
  }
  
  .controljoin {
    position: relative;
    top: 0;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 5px;
    background: white;
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
    transition: all .4s ease;
  }
  
  .controljoin:last-child {
    height: fit-content;
    border-bottom: none;
    padding: 0;
  }
  
  
  .controljoin-head > * { float: left; }
  
  .controljoin-head > i,
  .controljoin > i {
    font-size: 1.5em;
    margin-left: 15px;
    color: #1C1D21;
  }
  
  .controljoin-head > div,
  .controljoin > .controljoin-item {
    margin-left: 20px;
    color: #1C1D21;
  }

  .controljoin h6 { 
    margin: 5px 0;
    font-weight: 400;
    color: #1C1D21;
  }
  
  .controljoin.open:nth-child(2) { top: -72px; }
  .controljoin.open:nth-child(3) { top: -144px; }
  
  .controljoin.open {
    height: 100%;
    transition: all .4s ease;
  }
  
  .controljoin .controljoin-head { 
    display: flex; 
    align-items: center;
    margin-top: 5px; 
    cursor: pointer;
  }
  
  .controljoin.dateinput,
  .controljoin.select { display: block; }
  
  .controljoin .close {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
  }
  .controljoin.open .close {
    display: block;
    cursor: pointer;
  }

  @import url("https://fonts.googleapis.com/css?family=Montserrat");

  .controljoin > button {
    width: 100%;
    transform: translate(0%, 0%);
    color: green;
    text-decoration: none;
    font-size: 2em;
    font-family: Montserrat;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border: 2px solid green;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .controljoin > button::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
  }
  .controljoin > button::after {
    content: "";
    background-image: url("https://cdn2.iconfinder.com/data/icons/public-services-filledoutline/64/TAXI-cab-transportation-automobile-car-vehicle-64.png");
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .controljoin > button:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
    background-color: rgba(255,255,255, .2);
  }
  .controljoin > button:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .controljoin > button:hover::after {
    right: 0;
    transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
